.generate {
    width: 80%;
    height:50px;
    border-radius: 10px;
    border:none;
    background-color: #1A2873;
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2em;
    cursor: pointer;
}
.generate:hover {
    box-shadow: 0px 5px 30px #1A2873;
    transition: box-shadow 0.1s linear;
}
.generate:active {
    transform: scale(0.95);
    transition: scale 0.1s linear;
}

.delete {
    width: 70%;
    grid-area:button;
    height:50px;
    border-radius: 10px;
    border:none;
    background-color: #AA3131;
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2em;
    cursor: pointer;
    margin-top:15px;
}
.delete:hover {
    box-shadow: 0px 5px 30px rgb(208, 208, 208);
    transition: box-shadow 0.1s linear;
}
.delete:active {
    transform: scale(0.95);
    transition: scale 0.1s linear;
}